/* .dashboardTitle { 
  padding-top: 100px; 
} */

.hangoutDashboardContainer { 
  padding-top: 100px; 
  display: flex; 
  justify-content: center; 
}

.hangoutDashboardContent { 
  background-color: #F5F5F5; 
  width: 400px; 
  display: flex; 
  justify-content: center; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column; 
}

.hangoutPage { 
  margin-top: 10px; 
}