#bigCalendar {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  /* background-color: rgb(142, 142, 238);  */
  background-color: rgba(255, 255, 255, 0.822); 
  font-family: 'Raleway', sans-serif;
}

.rbc-event-content { 
  height: 20px; 
}

.rbc-month-view{
  flex-basis: 500px !important;
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0)
}

.rbc-date-cell {
  color: rgb(0, 0, 0);
}

.rbc-day { 
  background-color: black; 
}

.rbc-today {
  background-color: rgb(196, 226, 250) !important;
}

.rbc-toolbar-label { 
  /* font-family: 'Kavivanar', cursive; */
  font-size: 25px; 
  margin-top: 10px; 
}


.calendarIcon { 
  height: 20px; 
  margin-top: -40px;
}