#bigCalendar {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  /* background-color: rgb(142, 142, 238);  */
  background-color: rgba(255, 255, 255, 0.822); 
  font-family: 'Raleway', sans-serif;
}

.rbc-event-content { 
  height: 20px; 
}

.rbc-month-view{
  flex-basis: 500px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.rbc-date-cell {
  color: rgb(0, 0, 0);
}

.rbc-day-bg:hover { 
  /* background-color: rgba(129, 243, 177, 0.438);   */
  cursor: pointer;
  /* background-color: rgb(248, 237, 179);  */
  background-color: rgb(236, 235, 235); 
}

.rbc-day { 
  background-color: black; 
}

.rbc-day-bg { 
    box-shadow: 0 0.5px 0.5px 0 rgba(168, 168, 168, 0.2), 0 0.5px 0.5px 0 rgba(95, 95, 95, 0.19);
}

.rbc-month-row { 
  box-shadow: 0 0.5px 0.5px 0 rgba(122, 122, 122, 0.2), 0 0.5px 0.5px 0 rgba(83, 83, 83, 0.19);
}

.rbc-today {
  background-color: rgb(196, 226, 250) !important;
}

.rbc-event-content:hover {
  /* background-color: rgb(253, 234, 136);  */
  background-color: rgb(236, 235, 235); 
}

.rbc-event-content { 
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.rbc-toolbar-label { 
  /* font-family: 'Kavivanar', cursive; */
  font-size: 25px; 
  margin-top: 10px; 
}

.calendarIcon { 
  height: 20px; 
  margin-top: -40px;
}