.landingImage {
  position: fixed;
  top: -0.1%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../../images/outdoor-photo.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.landingContainer {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingName {
  font-family: "Homemade Apple", cursive;
  font-size: 150px;
  z-index: 1;
  color: rgb(255, 230, 0);
  font-family: "Yesteryear", cursive;
  text-shadow: 3px 2px #000000;
}

.landingTagLine {
  z-index: 500;
  color: rgb(255, 230, 0);
  font-size: 30px;
  font-family: "Mitr", sans-serif;
  margin-top: -120px;
  text-shadow: 2px 2px #000000;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.loginButton {
  margin-right: 5px;
}

.registerButton {
  margin-left: 100px;
}

@media screen and (max-width: 600px) {
  .landingName {
    font-size: 100px;
  }
}

.landingTagLine {
  font-size: 25px;
  margin-top: -80px;
}

.formButton {
  width: 100px;
}
