.react-autosuggest__container {
  position: relative;
  margin-left: 100px;
  margin-top: 14px;
}

.react-autosuggest__input {
  margin-top: 6px;
  width: 320px;
  height: 30px;
  padding: 10px 20px;
  /* font-family: Helvetica, sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 57px;
  width: 360px;
  border: 1px solid #aaa;
  background-color: #fff;
  /* font-family: Helvetica, sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.searchbar {
  position: fixed;
  width: 100%;
  /* background-color: #ff5f00; */
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 232, 232);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: rgba(44, 226, 135, 0.829); */
  /* background-color: rgb(76, 59, 235); */
  /* background-color: rgb(129, 243, 177);  */
  /* background-color: aqua;  */
  background-color: rgb(53, 80, 201); 

  display: flex;
  justify-content: space-around;
  z-index: 40;
  margin-bottom: -40px;
  margin-top: -20px;
}

.searchBarName {
  font-family: "Homemade Apple", cursive;
  font-size: 60px;
  z-index: 1;
  color: rgb(255, 230, 0);
  font-family: "Yesteryear", cursive;
  text-shadow: 1px 3px 1px #000000;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
}

.searchBarName:hover {
  transform: scale(1.05);
}

.iconContainer {
  /* margin-left: 100px; */
  margin-top: 13px;
}

.rekindleLink {
  text-decoration: none;
}

.navIcon {
  width: 40px;
  padding: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-left: 20px; 
}

.navIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* background-color: black; */
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  width: 120px;
  top: 85%;
  left: 50%; 
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 1000px) {

  .iconContainer { 
    display: none; 
  }

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 40px;
  top: 20px;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.popUpStyles { 
  font-family: "sans-serif"; 
  text-align: center; 
  margin-top: 40px;  
}

.menuList { 
  list-style-type: none;
  margin-top: -100px; 
  margin-left: -40px; 
}

.menuLi { 
  font-size: 32px; 
}

}