.react-autosuggest__container {
  position: relative;
  margin-left: 300px;
  margin-top: 14px;
}

.react-autosuggest__input {
  margin-top: 6px;
  width: 320px;
  height: 30px;
  padding: 10px 20px;
  /* font-family: Helvetica, sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 57px;
  width: 360px;
  border: 1px solid #aaa;
  background-color: #fff;
  /* font-family: Helvetica, sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.searchbar {
  position: fixed;
  width: 100%;
  /* background-color: #ff5f00; */
  padding-top: 10px;
  padding-bottom: 9px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 232, 232);
  background-color: rgba(44, 226, 135, 0.829);
  /* background-color: rgb(76, 59, 235); */

  display: flex;
  /* justify-content: center; */
  z-index: 40;
  margin-bottom: -40px;
  margin-top: -20px;
}

.searchBarName {
  font-family: "Homemade Apple", cursive;
  font-size: 60px;
  z-index: 1;
  color: rgb(255, 230, 0);
  font-family: "Yesteryear", cursive;
  text-shadow: 3px 2px #000000;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
}

.searchBarName:hover {
  transform: scale(1.05);
}

.iconContainer {
  margin-left: 100px;
  margin-top: 13px;
}

.rekindleLink {
  text-decoration: none;
}

.navIcon {
  width: 40px;
  padding: 10px;
}

.navIcon:hover {
  transform: scale(1.1);
}
